# Some text
CleanArchitecture.xcodeproj/project.xcworkspace/xcuserdata/
CleanArchitecture.xcodeproj/xcuserdata/
CleanArchitecture.xcodeproj/project.xcworkspace/xcuserdata/winify.xcuserdatad/UserInterfaceState.xcuserstate